  <script>
  $( function() {
    $( ".draggable" ).draggable({ containment: "#post-box", scroll: false });
    $('#new_post').submit(function() {
      let canvasRect = document.querySelector('#canvas').getBoundingClientRect()
      let words = [];
      for (x of $('.draggable')) {
          let rect = x.getBoundingClientRect();
          let word = {
            text: x.innerText,
            top: Math.round(rect.top - canvasRect.top),
            left: Math.round(rect.left - canvasRect.left)
          }
          if (word.top > 0 && word.left > 0 && word.top < canvasRect.height && word.left < canvasRect.width) {
            words.push(word)
          }
      }
      document.querySelector('#poetry').value = JSON.stringify(words);
      return true;
    });
  } );
  
  </script>
<p id="notice"><%= notice %></p>

<div class="pb-24">
<h1 class="text-3xl text-bold text-center pb-4 mx-16">Poem topic: <%= @topic.title %> </h1>
<p class="m-auto border border-black bg-white p-4" style="max-width: 60%">
Here are some refrigerator poems! If you scroll to the bottom, you can add your own.
</p>
</div>
<div class="flex">
  <div class="m-auto max-w-screen-md w-full " style="max-width: 300px">
  <% @posts.each do |post| %>
    <% box = post_box(post) %>
    <div class="pt-1 mt-8 mb-4 relative" style="
                              height: <%=box[:height]%>px;
                              max-width: 300px;
                              /*
                              background: #eee;
                              background-image: url('/egg-shell.png');
                              background-size: 400px; */
                              
                ">
      <% box[:words].each do |word| %>
          <span class="poetry absolute" style="top: <%=word[:top]%>px; left: <%=word[:left]%>px;">
            <%= word[:text] %>
          </span>
      <% end %>
      </div>
      <div class="flex p-2 bg-white border border-black border-r-4 border-b-4">
        <div class="text-left">by <%= link_to post.user.username, user_path(post.user) %> </div>
        <div class="px-4"><%= link_to 'delete', post, :method => :delete, :confirm => "Are you sure?" %></div>
        <div class="text-right flex-grow"> <%= post.created_at.to_s(:short) %> </div>
      </div>
  <% end %>


  <p class="text-2xl mt-8 mb-4">
  Write your own poem!
  </p>
  <p class="my-2">
  Drag words into the box with the dotted line and press "Post your poem" when you're done.
  </p>
<div id="post-box" class="relative">
  <% @words.each do |word| %>
    <div class="draggable poetry cursor-pointer m-2" ><%= word %> </div>
  <% end %>
  <div style="max-width: 320px;" class="my-4 pl-2 pr-4 box-border">
  <div id="canvas" class="w-full" style="height: 300px; border: 1px dashed black;">
  </div>
  </div>
</div>

<%= form_with scope: :post, local: true, id: 'new_post', url: posts_path do |form| %>
  <p class="py-8">
    <input type="hidden" name="post[text]" id="poetry" />
    <%= hidden_field(:topic, :id) %>
    <%= form.submit "Post your poem" , class: 'poetry'%>
  </p>
<% end %>

</div>
</div>
