<p id="notice"><%= notice %></p>

<h1 class="text-4xl text-bold text-center"> <%= @topic.title %> </h1>
  <script>
  $( function() {
    $( ".draggable" ).draggable({ containment: "#post-box", scroll: false });
    $('#new_post').submit(function() {
      let canvasRect = document.querySelector('#canvas').getBoundingClientRect()
      let words = [];
      for (x of $('.draggable')) {
          let rect = x.getBoundingClientRect();
          let word = {
            text: x.innerText,
            top: Math.round(rect.top - canvasRect.top),
            left: Math.round(rect.left - canvasRect.left)
          }
          if (word.top > 0 && word.left > 0 && word.top < canvasRect.height && word.left < canvasRect.width) {
            words.push(word)
          }
      }
      document.querySelector('#poetry').value = JSON.stringify(words);
      return true;
    });
  } );
  
  </script>
<div class="flex">
  <div class="m-auto max-w-screen-md w-full " style="width: 300px">
  <% @posts.each do |post| %>
    <div class="pt-1 relative" style="
                              height: 300px;
                              width: 300px;
                              /*
                              background: #eee;
                              background-image: url('/egg-shell.png');
                              background-size: 400px; */
                              
                ">
      <% JSON.load(post.text).each do |word| %>
          <span class="poetry absolute" style="top: <%=word['top']%>px; left: <%=word['left']%>px;">
            <%= word['text'] %>
          </span>
      <% end %>
      </div>
      <div class="flex bg-gray-700 p-2 text-white">
        <div class="text-left">by <%= link_to post.user.username, user_path(post.user) %> </div>
        <div class="px-4"><%= link_to 'delete', post, :method => :delete, :confirm => "Are you sure?" %></div>
        <div class="text-right flex-grow"> <%= post.created_at.to_s(:short) %> </div>
      </div>
  <% end %>


<div id="post-box" class="relative">
  <% @words.each do |word| %>
    <div class="draggable poetry cursor-pointer m-2" ><%= word %> </div>
  <% end %>
  <div id="canvas" style="width: 300px; height: 300px; border: 1px dashed black;">
  </div>
</div>

<%= form_with scope: :post, local: true, id: 'new_post', url: posts_path do |form| %>
  <p class="py-8">
    <input type="hidden" name="post[text]" id="poetry" />
    <%= hidden_field(:topic, :id) %>
    <%= form.submit "Save post" %>
  </p>
<% end %>

</div>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
