<!DOCTYPE html>
<html>
  <head>
    <title>refrigerator poetry forum</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/rails-ujs.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.touch-punch.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
<style>
/* some fridge things */
#background {
  position: absolute;
  left: 0; right: 0;
  z-index: -1;
  background-image: url('/fridge.jpg');
  background-size: cover;
  padding-bottom: 140%;
  width: 100%;
}
#background-middle {
  position: absolute;
  z-index: -1;
  background-image: url('/line.jpg');
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 140%;
  bottom: 0;
}
</style>

  </head>

  <body>
    <div id="container" style="max-width: 500px; position: relative;" class="m-auto">
    <div id="background"> </div>
    <div id="background-middle"> </div>
    <div id="fridge" style="min-height: 800px;"> <!--  we need the fridge to be at least 800px high -->
    <nav class="pt-8 pb-8 pl-2" style="position: relative;">
    <div class="text-right mr-4">
       <% if current_user %>
           Logged in as <%=current_user.username%>
           <a class="poetry" href="/logout">Logout</a>
       <% else %>
           <a class="poetry" href="/login">Login</a>
           <a class="poetry" href="/signup">Sign up</a>
       <% end %>
       </div>
       <h1 class="text-2xl text-center">
       <a href="/">
       <span class="poetry">refrigerator</span><span class="poetry">poetry</span><span class="poetry">forum</span>
       </a>
       </h1>
       </nav>
       <% if notice.present? %>
       <p id="notice" style="max-height: 8em; width: 10em; transform: rotate(-6deg)" class="mb-4 shadow-md m-auto bg-yellow-200 p-3 text-center">
         <%= notice %>
       </p>
       <% end %>
       <% if alert.present? %>
       <p id="notice" style="max-height: 8em; width: 10em; transform: rotate(-6deg)" class="mb-4 shadow-md m-auto bg-red-200 p-3 text-center">
         <%= alert %>
       </p>
       <% end %>

       <%= yield %>
       </div>
       <img src="/bottom.jpg" width=100%>
    </div>
  </body>
</html>
