<!DOCTYPE html>
<html>
  <head>
    <title>refrigerator poetry forum</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav class="text-right p-4">
      <% if @user %>
        Logged in as <%=@user.username%>
        <a class="poetry" href="/logout">Logout</a>
      <% else %>
        <a class="poetry" href="/login">Login</a>
        <a class="poetry" href="/signup">Sign up</a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
